ol{
    background-color: rgb(172, 252, 252);
}
body{
background-color: rgba(109, 98, 98, 0.111);
}
#hr{
    width: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}